[id^=item-] {
    section.window-content {
        .form-group-stacked {
            &.tags {
                display: inherit;
                tags {
                    background-color: rgba(0, 0, 0, 0.05);
                    border: 1px solid #7a7971;
                    border-radius: 3px;
                    &.tagify--focus {
                        border: 1px solid #7a7971;
                        box-shadow: 0 0 10px #00005a;
                    }
                }
            }
        }
    }
}
